/* OPEN SANS FONTS */
@font-face {
  font-family: OpenSans-Bold; src: url('./fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
  font-family: OpenSans-Light; src: url('./fonts/Open_Sans/OpenSans-Light.ttf');
}
body {
  margin: 0px;
  padding: 0px;
  font-family: OpenSans-Light;
}